.header {
  align-items: center;
  background-color: var(--headerBackground);
  color: var(--textColorLight);
  display: flex;
  flex-direction: column;
  height: var(--headerHeight);
  justify-content: center;
  position: fixed;
  width: 100%;
}

.wrapper {
  --headerHeight: var(--spaceSixRatiosBigger);
  height: var(--headerHeight);
}
