.header {
  align-items: center;
  background-color: hsla(224, 19%, 35%, 1);
  color: hsla(0, 0%, 100%, 1);
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
}

.header > h1 {
  background-color: hsla(224, 19%, 35%, 1);
  color: hsla(0, 0%, 100%, 1);
  font-family: 'Open Sans', Roboto, sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

.title {
  align-items: center;
  background-color: hsla(212, 59%, 39%, 1);
  color: hsla(0, 0%, 100%, 1);
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', Roboto, sans-serif;
  font-size: 1.15rem;
  font-weight: 700;
  height: 50px;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .header {
    height: 160px;
  }

  .title {
    font-size: 0.8rem;
  }
}
