.header {
  align-items: center;
  background-color: var(--bgFiord);
  color: var(--colorLight);
  display: flex;
  flex-direction: column;
  height: var(--headerHeight);
  justify-content: center;
  position: fixed;
  width: 100%;
}

.header > h1 {
  font-size: 3rem;
  font-weight: 600;
}

.wrapper {
  --headerHeight: var(--spaceSixRatiosBigger);
  height: var(--headerHeight);
}
