.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section * {
  margin: 0;
}

.intro {
  margin-top: var(--spaceFiveRatiosSmaller);
}

.wrapper {
  margin-top: var(--spaceOneRatioBigger);
}
