.button {
  border: 1px solid gray;
  display: inline-block;
  line-height: var(--spaceOneRatioBigger);
  padding: calc(var(--spaceThreeRatiosSmaller) - 1px) calc(var(--spaceTwoRatiosSmaller) - 1px);
}

.button:hover {
  background-color: black;
  color: white;
}
