.form > * {
  border: 1px solid gray;
  font-size: 0.9rem;
  line-height: var(--spaceOneRatioBigger);
  padding: calc(var(--spaceThreeRatiosSmaller) - 1px) calc(var(--spaceTwoRatiosSmaller) - 1px);
}

.form > button:hover {
  background-color: black;
  color: white;
}

.form > input:focus-visible {
  border: 2px solid black;
  outline: none;
  padding: calc(var(--spaceThreeRatiosSmaller) - 2px) calc(var(--spaceTwoRatiosSmaller) - 2px);
}
