.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.description {
  margin-top: var(--spaceFiveRatiosSmaller);
}

.wrapper {
  margin-top: var(--spaceOneRatioBigger);
}
