.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form * {
  margin-bottom: 0;
  margin-top: 0;
  max-width: 30rem;
}

.form button,
.form input,
.form textarea {
  border: 1px solid gray;
  line-height: var(--spaceOneRatioBigger);
  padding: 5px 9px;
}

.form button {
  margin-top: var(--defaultSpace);
  max-width: 10rem;
}

.form button:hover {
  background-color: black;
  color: white;
}

.form input,
.form span,
.form textarea {
  margin-top: var(--spaceFiveRatiosSmaller);
}

.form input:focus-visible,
.form textarea:focus-visible {
  border: 2px solid black;
  outline: none;
  padding: 4px 8px;
}

.form input + label,
.form textarea + label {
  margin-top: var(--spaceOneRatioSmaller);
}

.required::after {
  content: '*';
  margin-left: var(--spaceFiveRatiosSmaller);
}
