.footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: var(--s6);
  justify-content: center;
}

.footer > span {
  flex: 0 0 auto;
}

.footer > span:not(:first-of-type)::before {
  content: '|';
  margin: 0 var(--s1);
}

.icon {
  --vertical-offset: var(--s-5);
  height: calc(var(--vertical-offset) * 2 + 0.75em);
  margin-left: var(--s-4);
  vertical-align: calc(0em - var(--vertical-offset));
  width: calc(var(--vertical-offset) * 2 + 0.75em);
}

.withIcon {
  align-items: baseline;
  display: inline-flex;
}
