.footer {
  align-items: center;
  background-color: var(--footerBackground);
  color: var(--textColorLight);
  display: flex;
  flex-direction: row;
  height: var(--spaceSixRatiosBigger);
  justify-content: center;
}

.icon {
  --vertical-offset: var(--spaceFiveRatiosSmaller);
  height: calc(var(--vertical-offset) * 2 + 0.75em);
  margin-left: var(--spaceFourRatiosSmaller);
  vertical-align: calc(0em - var(--vertical-offset));
  width: calc(var(--vertical-offset) * 2 + 0.75em);
}

.span {
  align-items: baseline;
  display: inline-flex;
  flex: 0 0 auto;
}

.span:not(:first-of-type)::before {
  content: '|';
  margin: 0 var(--spaceOneRatioBigger);
}
