.main {
  min-height: calc(100vh - var(--s6));
}

.main section {
  background-color: rgb(245, 245, 245);
  border: 2px dashed rgb(220, 220, 220);
  color: rgb(170, 170, 170);
  font-size: 1.2rem;
  height: 18rem;
  line-height: 18rem;
  text-align: center;
}
