.button {
  border: 1px solid gray;
  line-height: var(--spaceOneRatioBigger);
  padding: var(--spaceThreeRatiosSmaller) var(--spaceTwoRatiosSmaller);
}

.button:focus {
  box-shadow: inset 0 0 0 1px black;
  outline: none;
}

.button:hover {
  background-color: black;
  color: white;
}
