@import 'colors.css';
@import 'fonts.css';
@import 'spaces.css';

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

html {
  background-color: hsla(0, 0%, 100%, 1);
  scroll-behavior: smooth;
}

body {
  background-color: hsla(0, 0%, 100%, 1);
  color: hsla(224, 45%, 22%, 1);
  overflow: auto;
  padding: 0;
}

a {
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
