:root {
  --bgCloudBurst: hsla(224, 45%, 22%, 1);
  --bgFiord: hsla(224, 19%, 35%, 1);
  --colorLight: hsla(0, 0%, 100%, 1);
  --linkColorLight: hsla(0, 0%, 100%, 0.8);
  --linkColorFocus: hsl(54, 100%, 90%);

  --defaultSpace: 1rem;
  --spaceRatio: 1.5;

  --spaceFiveRatiosSmaller: calc(var(--spaceFourRatiosSmaller) / var(--spaceRatio));
  --spaceFourRatiosSmaller: calc(var(--spaceThreeRatiosSmaller) / var(--spaceRatio));
  --spaceThreeRatiosSmaller: calc(var(--spaceTwoRatiosSmaller) / var(--spaceRatio));
  --spaceTwoRatiosSmaller: calc(var(--spaceOneRatioSmaller) / var(--spaceRatio));
  --spaceOneRatioSmaller: calc(var(--defaultSpace) / var(--spaceRatio));

  --spaceOneRatioBigger: calc(var(--defaultSpace) * var(--spaceRatio));
  --spaceTwoRatiosBigger: calc(var(--spaceOneRatioBigger) * var(--spaceRatio));
  --spaceThreeRatiosBigger: calc(var(--spaceTwoRatiosBigger) * var(--spaceRatio));
  --spaceFourRatiosBigger: calc(var(--spaceThreeRatiosBigger) * var(--spaceRatio));
  --spaceFiveRatiosBigger: calc(var(--spaceFourRatiosBigger) * var(--spaceRatio));
  --spaceSixRatiosBigger: calc(var(--spaceFiveRatiosBigger) * var(--spaceRatio));
}

a {
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html {
  background-color: hsla(0, 0%, 100%, 1);
  scroll-behavior: smooth;
}

body {
  background-color: hsla(0, 0%, 100%, 1);
  color: hsla(224, 45%, 22%, 1);
  font-family: 'Open Sans', Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  overflow: auto;
  padding: 0;
  text-rendering: optimizeSpeed;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

h2 {
  color: hsla(216, 35%, 21%, 1);
  font-family: 'Open Sans', Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

#__next {
  overflow: auto;
  width: 100vw;
}
