:root {
  --space: 1rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html {
  background-color: hsla(0, 0%, 100%, 1);
  scroll-behavior: smooth;
}

body {
  background-color: hsla(0, 0%, 100%, 1);
  color: hsla(224, 45%, 22%, 1);
  font-family: 'Open Sans', Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  overflow: auto;
  padding: 0;
  text-rendering: optimizeSpeed;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

h2 {
  color: hsla(216, 35%, 21%, 1);
  font-family: 'Open Sans', Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

#__next {
  overflow: auto;
  width: 100vw;
}
