.content {
  flex-basis: 20rem;
  flex-grow: 1;
  margin: var(--space);
}

.sidebar {
  flex-basis: 20rem;
  flex-grow: 1;
  margin: var(--space);
}

.wrapper {
  --space: var(--spaceThreeRatiosSmaller);
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--space));
}
